* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  width: 100%;
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;   
      padding-top: 20px;   
}

#episode-list { 
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.episode {
 align-items: center;
 width: 90%;
 max-width: 400px;
 margin: 20px auto;
 padding: 15px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

h2 {
  text-align: center;
}
.summary, img, h2 {
  padding: 10px;  
}

@media screen and (min-width: 200px){
  #episode-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

